body{
    background-color:#FCDEC0;
  }
  h1{
    color:#FFA500;
  }
  h2{
    color:#F15412;
  }
hr{
   background-color:wheat;
   border-style: none ;
   border-top-style: dotted;
   border-color: goldenrod;
   border-width: 5px;
   width: 10%;
  }
img{
   height: 170px;
  }
  